body {
  background-color: #000;
}

:root {
  --distance: 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  position: relative;
}

input[type="checkbox"].btn {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.hotspot, .circle {
  position: absolute;
  width: 40px;
  height: 40px;  
  border-radius: 50%;
  background:   radial-gradient(circle farthest-corner at 33% 33%, rgba(240, 240, 240, 0.85) 0%, rgba(30, 30, 40, 0.85) 80%), radial-gradient(circle farthest-corner at 45% 45%, rgba(0, 0, 0, 0) 50%, #000000 80%);
  transition: all 0.5s ease-in-out;
}

.btn ~ .hotspot {
  opacity: 0.7;
  cursor: pointer;
  display: inline-block;
  transform: translateY(18px) scale(1.5) rotate(0deg);
  z-index: 1;
}


.btn:checked ~ .hotspot,
.hotspot:hover {
  opacity: 1;
}

.circle {
  opacity: 0;
  pointer-events: none;
  transform: translate(0, 0) scale(0) rotate(0deg);
  z-index: -1;
}

.circle.one {
  transform: translateX(0px);
}

.btn:checked ~ .circle.one {
  --x: var(--distance);
  transform: translateX(var(--x)) scale(1.5) rotate(360deg);
}

.circle.two {
  transform: translateX(-0px);
}

.btn:checked ~ .circle.two {
  --x: calc(var(--distance) * -1);
  transform: translateX(var(--x)) scale(1.5) rotate(360deg);
}

.circle.three {
  transform: translateY(0px);
}

.btn:checked ~ .circle.three {
  --y: var(--distance);
  transform: translateY(var(--y)) scale(1.5) rotate(360deg);
}

.circle.four {
  transform: translateY(-0px);
}

.btn:checked ~ .circle.four {
  --y: calc(var(--distance) * -1);
  transform: translateY(var(--y)) scale(1.5) rotate(360deg);
}

.btn:checked ~ .circle {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}